[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "ctrlf"]
	path = lib/ctrlf
	url = git@github.com:radian-software/ctrlf.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "dashboard"]
	path = lib/dashboard
	url = git@github.com:emacs-dashboard/emacs-dashboard.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:doomemacs/themes.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:lambdadog/emacs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epkg-marginalia"]
	path = lib/epkg-marginalia
	url = git@github.com:emacscollective/epkg-marginalia.git
[submodule "forge"]
	path = lib/forge
	url = git@github.com:magit/forge.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "lsp-bridge"]
	path = lib/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
	load-path = .
	load-path = acm
[submodule "macrostep"]
	path = lib/macrostep
	url = git@github.com:joddie/macrostep.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "mood-line"]
	path = lib/mood-line
	url = git@gitlab.com:jessieh/mood-line.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "org"]
	path = lib/org
	url = git@github.com:emacsmirror/org.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "selectrum"]
	path = lib/selectrum
	url = git@github.com:radian-software/selectrum.git
[submodule "solaire-mode"]
	path = lib/solaire-mode
	url = git@github.com:hlissner/emacs-solaire-mode.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "yaml"]
	path = lib/yaml
	url = git@github.com:zkry/yaml.el.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
