[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "ctrlf"]
	path = lib/ctrlf
	url = https://github.com/radian-software/ctrlf
[submodule "dash"]
	path = lib/dash
	url = https://github.com/magnars/dash.el
[submodule "ef-themes"]
	path = lib/ef-themes
	url = git@github.com:emacsmirror/ef-themes.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "esup"]
	path = lib/esup
	url = https://github.com/jschaf/esup
[submodule "fira-code-mode"]
	path = lib/fira-code-mode
	url = https://github.com/jming422/fira-code-mode
[submodule "macrostep"]
	path = lib/macrostep
	url = https://github.com/emacsorphanage/macrostep
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "marginalia"]
	path = lib/marginalia
	url = https://github.com/minad/marginalia
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "mood-line"]
	path = lib/mood-line
	url = https://gitlab.com/jessieh/mood-line
[submodule "nix-mode"]
	path = lib/nix-mode
	url = https://github.com/NixOS/nix-mode
[submodule "no-littering"]
	path = lib/no-littering
	url = https://github.com/emacscollective/no-littering
[submodule "vertico"]
	path = lib/vertico
	url = https://github.com/minad/vertico
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
[submodule "zig-mode"]
	path = lib/zig-mode
	url = https://github.com/ziglang/zig-mode
